module.exports = {
    config_dir: "/etc/mail/virtual",        // Configuration directory
    data_dir:   "/home/mail",               // Mail directory

    user: "mailnull",                       // Configuration and mail owner
    group: "mail",
    file_mode: 0640,                        // Permissions
    dir_mode: 0750,
};
